{% extends 'base.html' %}

{% block title %}
    Password Changed
{% endblock %}

{% block content %}
    <div class="container text-center">
        <h1><strong>Password Changed Successfully!</strong></h1>
        <p>Your password has been updated. You can now use your new password to log in.</p>
        <img src="https://media.makeameme.org/created/everything-is-going-5c13fe.jpg" alt="Meme" class="img-fluid d-block mx-auto my-4" style="max-width: 800px; width: 100%;" />
        <p><a href="{% url 'home' %}">Click Here</a>  to go Home</p>
    </div>
{% endblock %}